main.main
  h1.title powerful insights <br> into your team 
  h2.subtitle 
    span.darkbackground new
    |  monograph dashboard 
  p.description Project planning and time tracking <br> for agile teams
  p.preview
    a.schedulelink(href="#") schedule a demo
    |  to see a preview